<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ed788d">  <td>14/05/18 13:05:40</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.init()[pri:0, instance:tests.RegistrationTests@150b51f4]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1713303340</td>   <td></td> </tr>
<tr bgcolor="7270b2">  <td>14/05/18 13:05:48</td>   <td>8649</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationTests.DifferentPasswordTest()[pri:0, instance:tests.RegistrationTests@150b51f4]">DifferentPasswordTest</td> 
  <td>main@1713303340</td>   <td></td> </tr>
<tr bgcolor="ed788d">  <td>14/05/18 13:05:53</td>   <td>12841</td> <td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:tests.RegistrationTests@150b51f4]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1713303340</td>   <td></td> </tr>
</table>
